@font-face {
    font-family: "Inter";
    src: url("./rsc/font/Inter_18pt-Medium.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("./rsc/font/Inter_24pt-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Peddana";
    src: url("./rsc/font/Peddana-Regular.ttf");
}
@font-face {
    font-family: "Inknut Antiqua";
    src: url("./rsc/font/InknutAntiqua-Regular.ttf");
}
@font-face {
    font-family: "Inknut Antiqua";
    src: url("./rsc/font/InknutAntiqua-Bold.ttf");
    font-weight: bold;
}

/*CSS reset*/
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }


/*** Global ***/

/* Colors */
body{
    min-width: 360px;
    --color-black: #000;
    --color-white: #fff;
    --color-accent: #769656;
    --color-placeholder: #828282;
    --color-text: #222;
}


h1 {
    font-family: 'Inknut Antiqua', serif;
    font-weight: bold;
    font-size: 3rem;
}
h2 {
    font-family: Peddana, serif;
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.75rem;
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1.25rem;
}
p {
    font-family: Inter, sans-serif;
    font-size: 1rem;
}
li {
    font-family: Inter, sans-serif;
    font-size: 1rem;
}
a {
    font-family: Inter, sans-serif;
    font-size: 1.25rem;
}
button {
    border: none;
}

/* Header */
header {
    background-color: var(--color-white);
    box-shadow:  1px 2px 5px var(--color-placeholder);
}
header div {
    width: 1140px;
    margin: auto;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}
header img {
    height: 88px;
    width: 88px;
    box-shadow:  1px 2px 5px var(--color-placeholder);
}
header nav {
    height: 100%
}
header nav ul {
    display: flex;
    align-items: stretch;
    column-gap: 104px;
    justify-content: space-between;
}
header nav ul li {
    background-color: var(--color-black);
    box-shadow:  0 2px 5px var(--color-placeholder);
    height: 88px;
    width: 88px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header nav ul li:active {
    background-color: var(--color-text);
}
header nav a {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
    line-height: 88px;
    width: inherit;
}
header nav a:active {
    color: var(--color-accent);
}

/*** Home Section ***/
#home {
    background-color: var(--color-black);
}
#home h1 {
    color: var(--color-white);
    line-height: 4rem;
}
#hero {
    background-image: url(./rsc/img/chess-knights.jpg);
    background-position-x: center;
    background-position-y: -100px;
    background-repeat: no-repeat;
    margin: auto;
    max-width: 1140px;
}
#hero .overlay {
    background-color: rgba(0, 0, 0, .5);
    padding: 72px 0 96px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 260px;
}
#hero button {
    background-color: var(--color-accent);
    height: 80px;
    width: 128px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#hero button a {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
    line-height: 80px;
    width: inherit;
}
#hero button a:visited {
    color: var(--color-white);
}

/*** About, Join ***/
#about, #join {
    margin: auto;  
    padding: 24px 0; 
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    
}
.square {
    height: 558px;
    width: 558px;
}
.square h2 {
    line-height: 2.25rem;
    margin: auto;
    padding: 24px 16px;
    text-align: center;
}
.square img {
    object-fit: cover;
    height: 558px;
    width: 558px;
}
.square p {
    line-height: 2rem;
}
@media (680px <= width < 1200px) {
    header div {
        width: 100%;
    }
    .hero, #about, #join {
        max-width: 524px;
    }
    .swap {
        order: 4;
    }
}


@media (width < 680px) {
    header div {
        width: 100%;
        column-gap: 8px;
    }
    header nav ul {
        column-gap: 8px;
        justify-content: space-between;
    }
    header img {
        height: 80px;
        width: 80px;
    }
    header nav ul li {
        height: 80px;
        width: 80px;
    }
    .hero, #about, #join {
        max-width: 344px;
    }
    .square img {
        width: 344px;
        height: 344px;
    }
    .swap {
        order: 4;
}
}