@font-face {
    font-family: "Inter";
    src: url("./rsc/font/Inter_18pt-Medium.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("./rsc/font/Inter_24pt-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Peddana";
    src: url("./rsc/font/Peddana-Regular.ttf");
}
@font-face {
    font-family: "Inknut Antiqua";
    src: url("./rsc/font/InknutAntiqua-Regular.ttf");
}
@font-face {
    font-family: "Inknut Antiqua";
    src: url("./rsc/font/InknutAntiqua-Bold.ttf");
    font-weight: bold;
}

/*CSS reset*/
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }


/*** Global ***/

/* Colors */
body{
    min-width: 360px;
    --color-black: #000;
    --color-white: #fff;
    --color-accent: #769656;
    --color-placeholder: #828282;
    --color-text: #222;
}


h1 {
    font-family: 'Inknut Antiqua', serif;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
h2 {
    font-family: Peddana, serif;
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.75rem;
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1.25rem;
}
p {
    font-family: Inter, sans-serif;
    font-size: 1.25rem;
}
a {
    font-family: Inter, sans-serif;
    font-size: 1.25rem;
}
button {
    border: none;
}

/* Header */
header {
    background-color: var(--color-white);
    box-shadow:  1px 2px 5px var(--color-placeholder);
}
header div {
    width: 1140px;
    margin: auto;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}
header img {
    height: 88px;
    width: 88px;
    box-shadow:  1px 2px 5px var(--color-placeholder);
}
header nav {
    height: 100%
}
header nav ul {
    display: flex;
    align-items: stretch;
    column-gap: 104px;
    justify-content: space-between;
}
header nav ul li {
    background-color: var(--color-black);
    box-shadow:  0 2px 5px var(--color-placeholder);
    height: 88px;
    width: 88px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header nav ul li:active {
    background-color: var(--color-text);
}
header nav a {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
    line-height: 88px;
    width: inherit;
}
header nav a:active {
    color: var(--color-accent);
}

/* Home Section */
/*#home {
    background-image: url(./rsc/img/chess-knights.jpg);
    background-position: bottom;
    background-size: cover;
    color: white;
    height: 37rem;
    padding: 7rem;
    text-align: center;
}
#home .overlay {
    background-color: rgba(255, 255, 255, .7);
    display: inline-block;
    margin: auto;
    padding: 4rem 3rem;
    border-radius: 2rem
} */
#home {
    height: 37rem;
    display: flex;
    align-items: center;
}
#home .hero-img {
    background-image: url(./rsc/img/chess-knights.jpg);
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 100%;
    width: 50%;
}
#home .hero-text {
    display: inline-block;
    padding-top: 5rem;
    height: 100%;
    width: 50%;
    text-align: center;
}
#home h1 {
    color: black;
}

#home button {
    background-color: var(--color-dark);
    line-height: 6rem;
    width: 6rem;
}
#home button a {
    color: var(--color-light);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: large;
    font-weight: bold;
}

@media (500px <= width < 1200px) {
    header div {
        width: 100%;
    }
}


@media (width < 680px) {
    header div {
        width: 100%;
        column-gap: 8px;
    }
    header nav ul {
        column-gap: 8px;
        justify-content: space-between;
    }
    header img {
        height: 80px;
        width: 80px;
    }
    header nav ul li {
        height: 80px;
        width: 80px;
    }
}